.navdock {
	padding: 20px 30px;
	background-color: rgba(0, 0, 0, 0.384);
	border-radius: 10px;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	position: fixed;
	bottom: 0%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 999;

	ul {
		list-style: none;
		padding: 0;

		&:nth-child(3) {
			display: flex;
			gap: 10px;
		}
	}

	.icon {
		background: linear-gradient(to bottom, #252525, #272828, #3a3f40, #2e3131);
		padding: 10px;
		border-radius: 12px;
		display: flex;
		align-items: center;
		cursor: pointer;
	}
}
